###
# Copyright (2017) Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###
#
# Create the docker volume that will hold the registry data
#

replica_id="$1"
nfs_volume="{{ dtr_volume_backend_name }}"
nfs_options="{{ nfs_mount_options }}"
nfs_server="{{ ivar_nfs_server }}"

volume=$(docker volume ls | awk "/$nfs_volume/ {print \$2}")
if [ "$volume" == "$nfs_volume" ]
then
  echo Volume $nfs_volume was found
else
  docker volume create -o type=nfs \
     -o o=addr=${nfs_server},$nfs_options \
     -o 'device=:{{ images_folder }}' $nfs_volume
fi
